.flex-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 3px solid black;
    border-radius: 12px;
    background-color: orange;
    align-items: center;
}

#product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-content > img {
    justify-content: left;
    border: 3px solid black;
    border-radius: 12px;
    width: 300px;
    height: 300px;
}

#add-cart {
    border: 2px solid black;
    border-radius: 12px;
    margin: 5px;
}

#product-description {
    padding: 15px;
    align-self: center;
}