{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p>Account page</p>
    <h1>Sign in</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in signinform %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p>{{ field.label_tag }} {{ error }}</p>
                    {% endfor %}
                {% endif %}
            </p>
        {% endfor %}
        <button type="submit" name="signin">Sign in</button>
    </form>

    <h1>Sign up</h1>
     <form method="POST">
        {% csrf_token %}
        {% for field in signupform %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p>{{ field.label_tag }} {{ error }}</p>
                    {% endfor %}
                {% endif %}
            </p>
        {% endfor %}

        <button type="submit" name="signup">Sign up</button>
    </form>

{% endblock %}