<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>PawPaw</title>
</head>
<body>

        <div class="grid-container">
        <div class="grid-sidebar">
            <div id="sidebar-links">
                <a id="login" href="{% url 'account' %}">Account</a>
                <a href="{% url 'cart' %}">Cart</a>
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'news' %}">News</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
        <div class="grid-header">
            <div class="site-title"><h1>Paw Paw</h1></div>
            <div class="page-title">{% block pagetitle %}  {% endblock %}</div>
        </div>
        <div class="grid-main-content">
            <div class="block-content">
            {% block content %} <p>Welcome to Paw Paw, your one stop shop for pet products</p> {% endblock %}
            </div>
        </div>
        </div>

</body>
</html>