{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
        <h1>My cart</h1>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <div class="cart-container">
        <h2>Checkout</h2>
    {% for item in cart %}
        <div class="cart-item">
            <form  action="{% url 'delete_item' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <div class="button"><button id="delete" type="submit">X</button></div>
            </form>
            <p>{{ item }}</p>
        </div>
    {% endfor %}
        <form action="{% url 'payment' %}">
            {% csrf_token %}
            <div id="proceed"><button type="submit">Payment</button></div>
        </form>
    </div>
{% endblock %}